:root {
    --backgroundcolor: white;
    --color: black;
    --color-dimmed: #999;
}

html {
    font-size: calc(1em + 1vw)
}
body {
    background-color: var(--backgroundcolor);
    color: var(--color);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.dimmed,
.dimmed a {
    color: var(--color-dimmed);
    font-size: 1.4vw;
    text-shadow: 2px 2px 0 rgba(1,1,1,0.2);
}
#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hours,
#minutes {
    font-size: 28vw;
    font-weight: bolder;
    text-shadow: 16px 16px 4px rgba(1,1,1,0.4);
}
